.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.process-form {
  display: flex;
  align-items: center;
}

.task{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 5px;
  margin-top: 20px;
}

.process {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 0px 5px;
}

.process-header {
  display: flex;
  gap: 20px;
}
